In [8]:
import pandas as pd

df_gdp = pd.read_csv('data/gdp.csv')
df_gender = pd.read_csv('data/gender_equality.csv')

In [17]:
# Gender Equality separated by GENDER INEQUALITY INDEX and GENDER DEVELOPMENT INDEX
df_gender_GII = df_gender[df_gender['Indicator Code'] == 'GE_GII']
df_gender_GDI = df_gender[df_gender['Indicator Code'] == 'GE_GDI']

,Country Name,Country Code,Indicator Name,Indicator Code,Attribute,1990,1991,1992,1993,1994,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Unnamed: 29
0,Mauritius,684,Gender Inequality Index,GE_GII,Value,0.505687,0.502605,0.498920,0.492968,0.487268,...,0.358440,0.369793,0.381489,0.387656,0.394510,0.392354,0.391204,0.390154,0.389784,NaN
1,Mexico,273,Gender Development Index,GE_GDI,Value,0.886701,0.886304,0.888046,0.898922,0.900829,...,0.923414,0.927484,0.930120,0.933233,0.938857,0.941404,0.944050,0.942742,0.943021,NaN
2,Mexico,273,Gender Inequality Index,GE_GII,Value,0.529219,0.525756,0.519203,0.514178,0.508967,...,0.420254,0.420237,0.414440,0.410383,0.397329,0.396467,0.396158,0.372871,0.372371,NaN
3,Moldova,921,Gender Development Index,GE_GDI,Value,NaN,NaN,NaN,NaN,NaN,...,0.991981,0.992572,0.990616,0.991611,0.989945,0.989650,0.991836,0.991963,0.993046,NaN
4,Moldova,921,Gender Inequality Index,GE_GII,Value,NaN,NaN,NaN,NaN,NaN,...,0.269899,0.283388,0.288021,0.293147,0.294358,0.311992,0.292510,0.272445,0.249700,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,Argentina,213,Gender Inequality Index,GE_GII,Value,0.515613,0.491696,0.473582,0.457045,0.442913,...,0.380790,0.383600,0.375883,0.376159,0.378283,0.382439,0.380697,0.377508,0.374633,NaN
291,"Armenia, Republic of",911,Gender Development Index,GE_GDI,Value,NaN,NaN,NaN,NaN,NaN,...,0.951900,0.955080,0.970558,0.969751,0.973065,0.977898,0.980190,0.982501,0.984123,NaN
292,"Armenia, Republic of",911,Gender Inequality Index,GE_GII,Value,0.356926,0.368212,0.379361,0.383876,0.390478,...,0.389916,0.386250,0.346597,0.351142,0.338588,0.337923,0.337499,0.319001,0.316623,NaN
293,Australia,193,Gender Development Index,GE_GDI,Value,NaN,NaN,NaN,0.954733,0.956026,...,0.963749,0.967863,0.969757,0.970348,0.972203,0.972654,0.972920,0.972588,0.970634,NaN
294,Australia,193,Gender Inequality Index,GE_GII,Value,0.266064,0.251853,0.240083,0.228845,0.217743,...,0.144938,0.143488,0.137787,0.133674,0.128164,0.130014,0.125806,0.121482,0.114906,NaN

In [18]:
df_gdp

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUS,GDP,TOT,MLN_USD,A,1960,25071.833000,NaN
1,AUS,GDP,TOT,MLN_USD,A,1961,25363.455000,NaN
2,AUS,GDP,TOT,MLN_USD,A,1962,27953.904000,NaN
3,AUS,GDP,TOT,MLN_USD,A,1963,30431.547000,NaN
4,AUS,GDP,TOT,MLN_USD,A,1964,32742.466000,NaN
...,...,...,...,...,...,...,...,...
5279,SEN,GDP,TOT,USD_CAP,A,2016,3116.185752,NaN
5280,SEN,GDP,TOT,USD_CAP,A,2017,3238.212275,NaN
5281,SEN,GDP,TOT,USD_CAP,A,2018,3416.171427,NaN
5282,SEN,GDP,TOT,USD_CAP,A,2019,3530.096494,NaN
5283,SEN,GDP,TOT,USD_CAP,A,2020,3513.149951,NaN