In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# To allow more flexible output. (see comments on Q4)
from IPython.display import display, Markdown, HTML

%matplotlib inline


# format for floats
pd.options.display.float_format = '{:,.2f}'.format

In [32]:
df_gdp = pd.read_csv('data/gdp_per_capita.csv')
df_gender = pd.read_csv('data/gender_equality.csv')

In [34]:
# Gender Equality separated by GENDER INEQUALITY INDEX and GENDER DEVELOPMENT INDEX
df_gender_GII = df_gender[df_gender['Indicator Code'] == 'GE_GII']
df_gender_GDI = df_gender[df_gender['Indicator Code'] == 'GE_GDI']

In [51]:
#df_gdp.dtypes
#df_gdp.drop(columns=['Unnamed: 65'])
df_gdp.set_index('Country Name')

,Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24712.493263,26441.619936,26893.011506,28396.908423,28452.170615,29350.805019,30253.279358,NaN,NaN,NaN
Africa Eastern and Southern,AFE,147.612227,147.014904,156.189192,182.243917,162.347592,180.214908,190.845484,192.337167,204.007099,...,1736.166560,1713.899299,1703.596298,1549.037940,1431.778723,1573.063386,1574.978648,1530.059177,1359.618224,NaN
Afghanistan,AFG,59.773234,59.860900,58.458009,78.706429,82.095307,101.108325,137.594298,160.898434,129.108311,...,638.845852,624.315455,614.223342,556.007221,512.012778,516.679862,485.668419,494.179350,516.747871,NaN
Africa Western and Central,AFW,107.932233,113.081647,118.831107,123.442888,131.854402,138.526332,144.326212,128.582470,129.641106,...,1965.118485,2157.481149,2212.853135,1894.310195,1673.835527,1613.473553,1704.139603,1777.918672,1710.073363,NaN
Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5100.097027,5254.881126,5408.411700,4166.979833,3506.073128,4095.810057,3289.643995,2809.626088,1776.166868,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3410.859780,3704.784221,3902.676013,3520.766449,3759.560246,4009.380987,4384.048892,4416.108358,4346.637931,NaN
"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1446.536472,1607.152173,1674.002572,1601.830063,1152.720966,964.264811,758.145242,NaN,NaN,NaN
South Africa,ZAF,443.009920,454.962013,473.011405,511.497364,548.996058,584.704163,621.220543,675.135345,711.225742,...,8222.197279,7467.079185,6988.808739,6259.839681,5756.965741,6690.939847,7005.095413,6624.761865,5655.867654,NaN
Zambia,ZMB,232.188564,220.042067,212.578449,213.896759,242.384473,303.281740,343.373670,360.201239,409.775349,...,1763.069442,1878.346811,1762.427817,1338.290927,1280.806543,1535.196574,1516.368371,1305.001031,985.132436,NaN
Zimbabwe,ZWE,278.813847,280.828663,276.688233,277.479715,281.558896,293.308788,277.234532,292.270533,299.398936,...,1304.968011,1429.998461,1434.896277,1445.069702,1464.588957,1235.189032,1254.642265,1316.740657,1214.509820,NaN

In [46]:
df_gender_GII[df_gender_GII['Country Name'] == 'Ireland'].iloc[:, 5:-1]

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
257,0.254922,0.248297,0.240875,0.234237,0.230059,0.22659,0.22212,0.219006,0.216467,0.213772,...,0.197648,0.193357,0.190972,0.18744,0.179788,0.167792,0.158274,0.142482,0.131208,0.127248